{% extends "base.html" %}
{% block title %}{% if is_edit %}Edit Post{% else %}New Post{% endif %}{% endblock %}
{% block content %}
    <h1>{% if is_edit %}Edit Post{% else %}New Post{% endif %}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.subtitle.label(class="form-label") }}
            {{ form.subtitle(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.author.label(class="form-label") }}
            {{ form.author(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.img_url.label(class="form-label") }}
            {{ form.img_url(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.body.label(class="form-label") }}
            {{ form.body(class="form-control", rows=8) }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
